.index{
   
    background-image: url("usopp_bakground.png");
    background-size:auto;
}
.popular_airing{

    background-image: url("usopp_bakground.png");
}
.most_watched{
    
    background-image: url("usopp_bakground.png");
}


ul{
    font-family: 'Courier New', Courier, monospace;
    background-size:auto;
    padding-left: 30px;
    text-decoration: dotted;
    background-color: #BE93D4;
    color: white;
    font-size: large;
    
    
}
a{
    color: black;
    text-decoration: none;
    padding:30px;

}
.categories_menu{
  
    text-decoration:none;
    color: black;
 


}

.search-bar{
    width:50%;
    position:relative;
}

.search-bar     input[type="text"]{
    width:100%;
    padding:20px;
    background: rgba(0,0,0,0.5);
background-color: transparent;
border:2px solid black;


}
.headerlink:hover{
    color: black;
}

.jollyroger{
    border:none;
    height: 384px;
    width: 328x;
    
}
.grid-vessel{
    
    padding-left: 60px;
    display: grid;
    height: 300px;
    width: 850px;
    row-gap: 5px;
    grid-template-columns: 300px 300px 300px 300px;
    


}
img{
    height:450px;
    border: outset 5px #BE93D4;

}
.title{
    padding-left: 60px;
}


